---
import cn from 'classnames'

import s from './Button.module.css'

interface Props {
  type?: 'button' | 'submit' | 'menu' | 'reset'
  bgColor?: 'white' | 'black' | 'brand'
  fullWidth?: boolean
  className?: string
}

const { type = 'button', bgColor = 'black', fullWidth = false, className = '' } = Astro.props

const bgColorEnum = {
  white: s.white,
  black: s.black,
  brand: s.brand,
}
---

<button class={cn(s.button, fullWidth && s.fullWidth, bgColorEnum[bgColor], className)}>
  <slot />
</button>
