.button {
  padding: 14px 18px;
  border: none;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: linear;

  cursor: pointer;
}

.fullWidth {
  width: 100%;

  @media (min-width: 768px) {
    width: fit-content;
  }
}

.black {
  background-color: #000;
  color: #fff;
}

.brand {
  background-color: #f8cc37;
  color: #000;
}

.white {
  background-color: #fff;
  color: #000;
}
