---
import cn from 'classnames'
import s from './Container.module.css'

interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<div class={cn(s.container, className)}>
  <slot />
</div>
