---
import cn from 'classnames'
import s from './Section.module.css'

interface Props {
  bgColor?: 'white' | 'black' | 'brand' | 'light04'
  className?: string
}

const colors = {
  white: '#fff',
  black: '#000',
  brand: '#F8CC37',
  light04: '#F2F2F7',
}

const { bgColor = 'white', className = '' } = Astro.props
---

<section class={cn(s.root, className)} style=`background-color: ${colors[bgColor]};`>
  <slot />
</section>
